@model IEnumerable<MvcBasic.Models.Cliente>
@{
    ViewBag.Title = "Teste";
}

<div>
    @Html.Raw(ViewBag.Ola)
</div>


@foreach (var cliente in Model)
{
    <div>@Html.Hidden("Id", cliente.Id)</div>
    <div>
        @Html.Label("txtName", "Nome: ",
        new { text = "Nome:", @class = "control-label col-md-2" })
    </div>
    <div>
        @Html.TextBox("txtName", cliente.Nome)
        @Html.TextBoxFor(model => cliente.Nome)
        @Html.EditorFor(model => cliente.Nome)
    </div>
    <div>
        @Html.TextArea("txtName", new { rows = 5 })
    </div>
    <div>
        @Html.ActionLink("Click aqui", "Edit",
       new { cliente.Id })
    </div>
    <div>
        @Html.Action("Edit", "Clientes", new { cliente.Id })
    </div>
    <div>
        @Html.LabelFor(model => cliente.Nome)
    </div>
    <div>
        @Html.DisplayFor(model => cliente.Nome)
    </div>
    <div>
        @Html.RadioButton("corFavorita", "Azul", true) Azul
        @Html.RadioButton("corFavorita", "Amarelo", false) Amarelo
        @Html.RadioButton("corFavorita", "Branco", false) Branco
    </div>
    <div>
        @Html.ListBox("ListaCores",
       new SelectList(
           new List<string>()
           {
               "Azul","Amarelo","Branco"
           }))
    </div>
    <div>
        @Html.DropDownList("ListaCores",
       new SelectList(
           new List<string>()
           {
               "Azul","Amarelo","Branco"
           }
           ))
    </div>
    <div>
        @Html.DropDownListFor(model => cliente.Nome, new SelectList(Model, "id", "Nome"))
    </div>

    <div>
        @Html.DropDownList("Id", String.Empty)
    </div>
    <div>
        @Html.CheckBox("Certificado", false) Deseja receber Certificado
    </div>
    <div>
        @Html.Partial("_Saudacao")
    </div>
    <div>
        @{
            var teste = Html.Partial("_Saudacao");
        }
    </div>
    <div>
        @{
            Html.RenderPartial("_Saudacao");
        }
    </div>
    <div>
        <a href="@Url.Action("Index", "Home")">Clique Aqui</a>
    </div>
}

